@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root{
    --primary-bg-color:#ffffff;
    --secondary-bg-color:#353849;
    --blue1-bg-color:#4c5c96;
    --blue-bg-color:#8ba1f0;
    --primary-text-color:#333;
    --secondary-text-color:white;
    --text-color:#4c5c96;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
 
}
body {
    font-family: 'Lato',sans-serif;
    color: var(--primary-text-color);
    line-height: 1.6;
    height: 100vh;
    position:relative;
    background-image: url(./../images/bg.webp);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay; /* Blend mode for background */
    background-size: cover;
    background-position: center;
    
}
/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
   
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
p{
    margin: 10px 0;;
}
/* img {
    width: 100%;
} */
/* nav bar style */
.navbar {
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    height: 70px;
}
.navbar ul{
    display: flex;
}
.navbar a{
    color: var(--primary-color);
    padding: 10px;
    margin: 0 5px;
}
.navbar .flex{
    justify-content: space-between;
}
.navbar a:hover{
    border-bottom: 2px white solid;
}

/* showcase */

.rectangle-top {
    width: 100%;
    height: 100px;
    background: linear-gradient(to top left, var(--secondary-bg-color) 50%,#ffffff00 50%);
}

.rectangle-bottom {
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom left, var(--secondary-bg-color) 50%,var(--blue1-bg-color) 50%);
}

.rectangle-3 {
    width: 100%;
    height: 100px;
    background: linear-gradient(to top left, var(--secondary-bg-color) 50%,var(--blue1-bg-color) 50%);
}

.rectangle-4 {
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom left, var(--secondary-bg-color) 50%,rgba(0, 0, 0, 0.7) 50%);
}
.showcase {
  
    position:relative;
    /* background-color: var(--secondary-bg-color); */
    color: var(--secondary-text-color);
}
.showcase .grid {
    grid-template-columns: 75% 25%;
}
.showcase .container{
    height: 50vh;
}
.showcase-image{
    grid-column: 2;
}
.showcase-image img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
}
.showcase-text{
    grid-column: 1;
}
.showcase-text .heading{
    font-size: 65px;
}
.heading span {
    color: var(--text-color);
}
.showcase-text .sub-heading{
    font-size: 35px;
}

/* About-us */
.about-us{
    color: var(--secondary-text-color) ;
    padding:0 10%;
    background-color: var(--secondary-bg-color);
}
.about-us .grid {
    grid-template-columns: 100%;
}
.about-us .title{
    display: flex;
    padding: 2% 0;
    font-weight: 500;
    font-size: 36px;
}
.about-us .description{
    line-height: 1.5;
    font-size: 16px;
}
.about-us ul{
    list-style-type:circle;
}


/* Experience */
.experience{
    color: var(--secondary-text-color) ;
    padding:0 10%;
    background-color: var(--blue1-bg-color);
}
.experience .grid {
    grid-template-columns: 80% 20%;
}
.grid-right{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    grid-template-columns: 20% 80%;
}
.experience-data {
    margin: 25px 0;
}
.experience .title{
    display: flex;
    padding: 2% 0;
    font-weight: 500;
    font-size: 36px;
}
.experience-title p{
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}
.experience-title ul{
    list-style-type:circle;
}

/* education */
.education{
    padding:0 10%;
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
}
.education .title{
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    padding: 2% 0;
    font-weight: 500;
    font-size: 36px;
}
.education .grid{
    grid-template-columns: 25% 75%;
}


/* skills */
.skills{
    padding:5% 10%;
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
}
.skills .title{
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    padding: 2% 0;
    font-weight: 500;
    font-size: 36px;
}
.skills .grid {
    grid-template-columns: 100%;
   
}
.image-card{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.tooltip img{
    width: 50px;
    height: 50px;
}

.tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 66%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  /* contact me */
.contact-me{
    padding:0 10%;
    color: var(--secondary-text-color);
    background-color:rgba(0, 0, 0, 0.7)
    /* background-color: var(--secondary-bg-color); */
}
.contact-me .title{
    display: flex;
    padding: 2% 0;
    font-weight: 500;
    font-size: 36px;
}
.contact-me .grid {
    grid-template-columns: 100%;
}
.contact-icons{
    padding: 10px 0;
}