@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root{
    --primary-bg-color:#ffffff;
    --secondary-bg-color:black;
    --primary-text-color:#333;
    --secondary-text-color:white;
    --text-color:#98e8cd;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Lato',sans-serif;
    color: var(--primary-text-color);
    line-height: 1.6;
   
    background-position: center;
    background-size: cover;
}
/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
   
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
p{
    margin: 10px 0;;
}
/* img {
    width: 100%;
} */
/* nav bar style */
.navbar {
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    height: 70px;
}
.navbar ul{
    display: flex;
}
.navbar a{
    color: var(--primary-color);
    padding: 10px;
    margin: 0 5px;
}
.navbar .flex{
    justify-content: space-between;
}
.navbar a:hover{
    border-bottom: 2px white solid;
}

/* showcase */


.showcase {
    position:relative;
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
}
.showcase .grid {
    grid-template-columns: 75% 25%;
}
.showcase .container{
    height: 75vh;
}
.showcase-image{
    grid-column: 2;
}
.showcase-image img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
}
.showcase-text{
    grid-column: 1;
}
.showcase-text .heading{
    font-size: 65px;
}
.heading span {
    color: var(--text-color);
}
.showcase-text .sub-heading{
    font-size: 35px;
}


.wrapper.spotlight {
    background-color: #4c5c96;
}

.wrapper {
    background-color: #2e3141;
    margin: 6.5em 0;
    position: relative;
}


.wrapper::before {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    /* display: block; */
    height: 6.5em;
    position: absolute;
    width: 100%;
}