@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root{
    --primary-bg-color:#ffffff;
    --secondary-bg-color:#353849;
    --blue1-bg-color:#4c5c96;
    --blue-bg-color:#45558d;
    --primary-text-color:#333;
    --secondary-text-color:white;
    --text-color:#4c5c96;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16.5pt;
    font-weight: 200;
    color: var(--primary-text-color);
    height: 100vh;
    position:relative;
    background-image: url(./../images/bg.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay; /* Blend mode for background */
    background-size: cover;
    background-position: center;
    line-height:1.8;
    letter-spacing:0.1em;
    
}
/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
   
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
p{
    margin: 10px 0;;
}
/* img {
    width: 100%;
} */
/* nav bar style */
.navbar {
    width: 100%;
    /* background-color: var(--secondary-bg-color); */
    background-color:rgba(0, 0, 0, 0.7);
    color: var(--secondary-text-color);
    height: 70px;
    position: fixed; 
    z-index: 1000;
}
.navbar ul{
    display: flex;
}
.navbar a{
    color: var(--primary-color);
    padding: 10px;
    margin: 0 5px;
    text-transform: uppercase;
}
.navbar .flex{
    justify-content: space-between;
}
.navbar a:hover{
    border-bottom: 2px white solid;
}
.nav-icon{
    display: none;
}

.side-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: none;
}
.side-bar li {
    width: 100%;
}
.side-bar a{
    width: 100%;
}
.cross-icon{
    height: 50px;
    width: 50px;
    right: 0;
    top: 0;
    position: absolute;
    padding: 10px;
}

.rectangle-top {
    width: 100%;
    height: 100px;
    background: linear-gradient(to top left, var(--secondary-bg-color) 50%,#ffffff00 50%);
}

.rectangle-bottom {
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom left, var(--secondary-bg-color) 50%,var(--blue1-bg-color) 50%);
}

.rectangle-3 {
    width: 100%;
    height: 100px;
    background: linear-gradient(to top left, var(--secondary-bg-color) 50%,var(--blue1-bg-color) 50%);
}


.rectangle-4 {
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom left, var(--secondary-bg-color) 50%,rgba(0, 0, 0, 0.7) 50%);
}
.rectangle-5 {
    width: 100%;
    height: 100px;
    background: linear-gradient(to top left, var(--blue-bg-color) 50%,var(--blue1-bg-color) 50%);
}
.rectangle-6 {
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom left, var(--blue-bg-color) 50%,var(--blue1-bg-color) 50%);
}
.rectangle-7 {
    width: 100%;
    height: 100px;
    background: linear-gradient(to top left,var(--blue1-bg-color) 50%, rgba(0, 0, 0, 0.7) 50%);
}
/* showcase */

.showcase {
    padding: 5%;
    position:relative;
    /* background-color: var(--secondary-bg-color); */
    color: var(--secondary-text-color);
}
.showcase .grid {
    grid-template-columns: 75% 25%;
}
.showcase .container{
    height: 80vh;
}
.showcase-image{
    grid-column: 2;
}
.showcase-image img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
}
.showcase-text{
    grid-column: 1;
    opacity: 0;
    transform: translateY(-50px); /* Start position */
    transition: opacity 2s ease-out, transform 2s ease-out;
}
.showcase-text.in-view {
    opacity: 1;
    transform: translateY(0); /* End position */
}
.showcase-text .heading{
    font-size: 65px;
    /* padding-bottom: 1em; */
    /* border-bottom: solid 2px rgba(255, 255, 255, 0.125); */
}
.heading span {
    color: var(--text-color);
}
.showcase-text .sub-heading{
    font-size: 35px;
    text-transform: uppercase;
}
.showcase-text button{
    padding: 16px 36px;
    border-radius: 9px;
    background: var(--blue1-bg-color);
    color: var(--secondary-text-color);
    font-size: 20px;
    border: none;
    margin-top: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

/* About-us */
.about-us{
    color: var(--secondary-text-color) ;
    padding:5% 10%;
    background-color: var(--secondary-bg-color);
    
}
.about-us .grid {
    grid-template-columns: 100%;
}
.about-us .title{
    display: flex;
    padding: 2% 0;
    font-weight: 500;
    font-size: 36px;
    padding-bottom: 1em;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}
.about-us .description{
    line-height: 1.5;
    /* font-size: 16px; */
}
.about-us ul li{
    list-style-type:circle;
    /* padding-bottom: 40px; */
    opacity: 0; /* Start hidden */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.about-us ul li.show-about {
    opacity: 1;
    transform: translateY(0);
}

/* Experience */
.experience{
    color: var(--secondary-text-color) ;
    padding:0 10%;
    background-color: var(--blue1-bg-color);
}
.two{
    background-color: var(--blue-bg-color);
}
.experience .grid {
    grid-template-columns: 70% 30%;
    gap:30px
}
.grid-right{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    grid-template-columns: 30% 70%;
    gap:30px
}
.experience-data {
    margin: 60px 0;
}
.experience .title{
    display: flex;
    padding: 2% 0;
    font-weight: 500;
    font-size: 38px;
}
.experience-title p{
    font-size: 24px;
    padding-bottom: 1rem;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    color: #ffffff;
    font-family: Raleway, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}
.experience-title ul{
    padding-top: 1rem;
    list-style-type:circle;
}
.experience-title ul li{
    padding-left: 0.5em;
}
.experience-icon img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

/* education */
.education{
    padding:0 10%;
    padding-bottom: 5%;
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
}
.education .title{
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    padding: 2% 0;
    font-weight: 500;
    font-size: 36px;
}
.education .grid{
    grid-template-columns: 25% 75%;
    gap: 20px;
}
.education-data {
    border-left: solid 2px rgba(255, 255, 255, 0.125);
    padding-left: 20px;
}


/* skills */
.skills{
    padding:5% 10%;
    color: var(--secondary-text-color);
    /* background-color: var(--secondary-bg-color); */
}
.skills .title{
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    padding: 2% 0;
    font-weight: 500;
    font-size: 36px;
    
}
.skills .grid {
    grid-template-columns: 100%;
   
}
.image-card{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.tooltip img{
    width: 100px;
    height: 100px;
}

/* .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 66%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
} */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    margin-left: -105px;
    margin-top: -55px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  

  /* contact me */
.contact-me{
    padding:0 10%;
    color: var(--secondary-text-color);
    background-color:rgba(0, 0, 0, 0.7)
    /* background-color: var(--secondary-bg-color); */
}
.contact-me .title{
    display: flex;
    padding: 2% 0;
    font-weight: 500;
    font-size: 36px;
    padding-bottom: 1rem;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}
.contact-me .grid {
    grid-template-columns: 100%;
}
.contact-icons{
    padding: 10px 0;
}



@media (max-width: 768px) {
    body{
        font-size: 10pt;
    }
    /* nav{
        display: none;
    } */
    .main-nav-bar{
        display: none;
    }
    .nav-icon{
        display: inline;
        height: 25px;
        width: 25px;

    }
    .navbar a{
        color: var(--primary-text-color);
    }
    .navbar ul{
        display: flex;
        flex-direction: column;
    }
    .side-bar li {
        width: 100%;
        margin: 10px 10px;
    }
    .showcase .grid {
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align:center;

    }
    .showcase-text .heading{
        font-size:30px;
    }
    .showcase-text .sub-heading{
        font-size: 20px;
    }
    .showcase-image{
        grid-row: 2;
    }
    .showcase-text{
        grid-row: 1;
    }
    .showcase .container{
        height: 90vh;
    }
    .showcase-image img{
        height: 150px;
        width: 150px;
    }
    .about-us .title{
        font-size: 28px;
    }
    .experience .title{
        font-size: 28px;
    }
    .experience-title{
        order: 1;
    }
    .experience-data{
        display: flex;
        flex-direction: column;
    }
    .experience-title p{
        font-size: 14px;
    }
    .education .title{
        font-size: 28px;
    }
    .education .grid{
        display: flex;
        flex-direction: column;
    }

    .education-data {
        border-left: none;
        padding-left: 20px;
    }
    .education{
        padding: 0 2%;
    }
    .skills{
        padding: 2%; 
    }
    .skills .title{
        font-size: 28px;
    }
    .tooltip img {
        width: 50px;
        height: 50px;
    }
    .contact-me{
        padding: 2%; 
    }
    .contact-me .title{
        font-size: 28px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .navbar a{
        font-size: 15px;
    }
    .showcase-text .heading {
        font-size: 35px;
    }
    .showcase-text .sub-heading {
        font-size: 20px;
    }
    .showcase .grid {
        grid-template-columns: 60% 40%;
    }
}