@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --primary-text-black-color:#333;
    --primary-text-white-color:#ffffff;
    --secondary-text-color:#98e8cd;
    --primary-bg-gray-color:rgb(241 241 241);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato',sans-serif;
    line-height: 1.6;
}
.body{
    min-height: 100vh;
}
nav {
    background-color:var(--primary-bg-gray-color); 
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
     height: 100px;
     padding: 0 30px;
     text-decoration: none;
     display: flex;
     align-items: center;
     color: black;
}

nav li:first-child{
    margin-right: auto;
}
.body-content{
    
    overflow: hidden;
    height: calc(100vh - 100px);
    overflow-y: auto;
}
.nav{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
    margin: 0;
    padding: 30px;
    outline: 0;
}
.nav.sticky {
    padding-top: 30%;
  }
.nav-name{
    display: flex;
}
.nav-name p{
    font-family: Lucida Console;
    font-size: 30px;
    font-weight: lighter;
}
.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-bar ul li {
    display: inline;
    padding: 10px 20px;
    text-transform: uppercase;
}
.nav-bar ul li a{
    text-decoration: none;
    color: var(--primary-text-black-color);
}
.nav-bar ul li img{
    text-decoration: none;
    color: var(--primary-text-black-color);
}
.nav-icon{
    /* width: 50px;
height: 50px;
position: absolute;
top: 0;
right: 0;
padding-top:3%;
display: inline;
padding: 10px 20px; */
display: none;
}
.side-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: none;
}
.side-bar li {
    width: 100%;
}
.side-bar a{
    width: 100%;
}
.container{
    height: 75vh;
    /* background-image: url(images/bg.webp); */
    background-position: center;
    background-size: cover;
    padding-bottom: 0px;
    /* display: flex; */
    justify-content: center;
    overflow: hidden;
    position: relative;
    background:black
}
.container-card{
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-text{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    padding: 0 2%;
    display: flex;
}
.container-heading{
    font-size: 65px;
    font-family: hagrid;
}
.container-subheading{
    font-size: 28px;
    font-family: neue machina;
}
.container-heading span{
    color: var(--secondary-text-color);
}
.container-image{
    padding: 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-image img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}
.card{
    display: flex;
    width: 60%;
    padding-top: 8%;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: center;
    position:absolute;
    bottom: 0;
   
}
.card-bg{
    background-color: rgb(24, 33, 83, 0.8);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    flex: 1; 
    animation: slideLeftToRight 2s ease-out forwards;
    animation-delay: 0s;
}
@keyframes slideLeftToRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    30% {
        left: -100%; /* Stays off the screen */
      }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.right {
    background-color: #eff8ff;
    flex: 1; 
    animation: slideRightToLeft 2s ease-out forwards;
    animation-delay: 0s;
    display: flex;
}
@keyframes slideRightToLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.user-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
    justify-content: center;
}
.text-uppercase{
    text-transform: uppercase;
}

.user-data h1{
    font-family: Lucida Console;
    font-size: 30px;
    font-weight: lighter;
}
.user-data{
    padding-top:5%;
    line-height:1.5
}
.container-about-us{
    position: relative;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(241 241 241);
    
}

.content-top{
    background-color: rgb(24, 33, 83);

    display: flex;
    justify-content: center;
    gap:3%;
    width: 60%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.content-top img{
    width: 30px;
    height: 30px;
}
.content-desc{

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 15%;
    text-align: center;
    line-height: 1.5em;
    font-size: 16px;
  
}
.content-description{
    opacity: 0;
    transition: all 2s;
}
.show-about {
    opacity: 1; 
}
.content-description:nth-child(2){
    transition-delay: 200ms;
  }
  .content-description:nth-child(3){
    transition-delay: 300ms;
  }
  .content-description:nth-child(4){
    transition-delay: 400ms;
  }
  .content-description:nth-child(5){
    transition-delay: 500ms;
  }
  .content-description:nth-child(6){
    transition-delay: 600ms;
  }
  .content-description:nth-child(7){
    transition-delay: 700ms;
  }
.content-desc h1{
    line-height:3
}
.content-desc p{
    line-height:1.9
}
.container-experience{
    width: 100%;
    background-color: white;
}
.experience-title{
    padding: 1.5%;
    text-align: center;
    border-bottom: solid 0.1px gray;
    color: var(--primary-text-black-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
}
.experience {
    padding: 5% 15%;
}
.experience-data{
    padding-bottom: 25px;
    display: flex;
    line-height: 1.5;
    opacity: 0;
    transition: all 2s;
}
.show {
    opacity: 1; /* Show content */
}
.experience-position{
    width: 30%;
}
.experience-desc{
    width: 70%;
    padding-left:25px;
    list-style-type: disc;
}
.experience-position p:first-child{
    font-size: 20px;
    font-weight: 500;
}

/* Education  */

.education-experience{
    width: 100%;
    background-color: white;
}
.education-title{
    padding: 1.5%;
    text-align: center;
    border-bottom: solid 0.1px gray;
    border-top: solid 0.1px gray;
    color: var(--primary-text-black-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
}
.education {
    padding: 5% 15%;
}
.education-data{
    padding-bottom: 25px;
    display: flex;
    line-height: 1.5;
    opacity: 0;
    transition: all 2s;
}
.show {
    opacity: 1; /* Show content */
}
.education-position{
    width: 30%;
}
.education-desc{
    width: 70%;
    padding-left:25px;
    list-style-type: disc;
}
.education-position p:first-child{
    font-size: 20px;
    font-weight: 500;
}


.line{
    position: relative;
    width: 0.1px;
    height: auto;
    background-color: black;
}
.client-container{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.client-body{
    display: flex;
    justify-content: center;
    padding: 10% 7%;
}
.image-card{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    transform: translateX(-100%); */
}


.image-card img{
    width: 100px;
    height: 100px;
}
.client-title{
    padding: 1.5%;
    text-align: center;
    border-bottom: solid 2px white;
    border-top: solid 0.1px gray;
    background-color: rgb(24, 33, 83);
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
}
.skill-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    background-image: url(images/bg.webp);
}
.skills{
    padding: 5% 15%;
}
.skills-card{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    /* width: 100%; */
    /* padding: 15%; */
    padding-bottom: 10%;
    padding-top: 10%;
}
.skill-title{
    padding: 1.5%;
    text-align: center;
    border-bottom: solid 2px white;
    border-top: solid 0.1px gray;
    background-color: rgb(24, 33, 83);
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
}
.skills-list{
    /* line-height:1.5 */
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    gap: 20px;
}
.skills-data{
    padding: 25px;
    background-color: rgb(69 81 122 / 50%);
    color: white;
    font-size: 20px;
   
}

.contact-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(241 241 241);
}
.contact-title{
    display: flex;
    justify-content: center;
    border: solid 1px white;
    padding: 1.5%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
}
.contact-card{
    display: flex;
    justify-content: space-evenly;
}
.contact-form{
    flex: 1;
    padding: 40px;
    border: solid 1px white;

}
.contact-info{
    /* flex:1;
    border: solid 1px white; */
}
.form-data{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 2%;
}
.form-name{
    display: flex;
    justify-content: start;
    width: 100%;
}
.form-input{
    padding: 5%;
    width: auto;
    margin-top:2%;
}
.fname{
    width: 50%;
}
.submit-btn{
    padding: 2%;
    margin: 2%;
    background-color: rgb(24 33 83);
    color: white;
    font-size: 20px;
}
.tooltip {
    position: relative;
    display: inline-block;
    opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .tooltip:nth-child(2){
    transition-delay: 100ms;
  }
  .tooltip:nth-child(3){
    transition-delay: 200ms;
  }
  .tooltip:nth-child(4){
    transition-delay: 300ms;
  }
  .tooltip:nth-child(5){
    transition-delay: 400ms;
  }
  .tooltip:nth-child(6){
    transition-delay: 500ms;
  }  
  .tooltip:nth-child(7){
    transition-delay: 600ms;
  }
  .tooltip:nth-child(8){
    transition-delay: 700ms;
  }
  .tooltip:nth-child(9){
    transition-delay: 800ms;
  }
  .tooltip:nth-child(10){
    transition-delay: 900ms;
  }
  .show-image {
    opacity: 1; /* Show content */
    filter: blur(0);
    transform: translateX(0);
    
}
.tooltip-right{
    position: relative;
    display: inline-block;
    opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    transform: translateX(100%);
}
.show-image-right {
    opacity: 1; /* Show content */
    filter: blur(0);
    transform: translateX(0);
    
}
.tooltip-right:nth-child(2){
    transition-delay: 100ms;
  }
  .tooltip-right:nth-child(3){
    transition-delay: 200ms;
  }
  .tooltip-right:nth-child(4){
    transition-delay: 300ms;
  }
  .tooltip-right:nth-child(5){
    transition-delay: 400ms;
  }
  .tooltip-right:nth-child(6){
    transition-delay: 500ms;
  }  
  .tooltip-right:nth-child(7){
    transition-delay: 600ms;
  }
  .tooltip-right:nth-child(8){
    transition-delay: 700ms;
  }
  .tooltip-right:nth-child(9){
    transition-delay: 800ms;
  }


.tooltip .tooltiptext {
       visibility: hidden;
       width: 80px;
       background-color: #555;
       color: #fff;
       text-align: center;
       border-radius: 6px;
       padding: 5px;
       position: absolute;
       z-index: 1;
       bottom: 100%;
       left: 66%;
       margin-left: -60px;
       opacity: 0;
       transition: opacity 0.3s;
  }
  .tooltip-right .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 66%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  .tooltip-right:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
.user-contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-left: 45%; */
    justify-content: center;
    padding:10% 0;
  }
  
form{
    display: flex;
    flex-direction: column;
}
.contact-icons{
    display: flex;
    justify-content: center;
    gap:20%;
    width: 60%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin: 10%;
}
/* .contact-icons a{
    width: 50px;
    height: 50px;
} */
.cross-icon{
    height: 50px;
    width: 50px;
    right: 0;
    top: 0;
    position: absolute;
    padding: 10px;
}
@media (max-width: 500px) {
    /* .card {
        flex-direction: column;
    } */
    .nav-icon{
        display: inline;
        height: 25px;
        width: 25px;

    }
    .nav-bar ul li a{
        display: none;
    }
    .container-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10%;
    }
    .container-text{
        padding: 0 2%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-subheading {
        font-size:22px;
    }
    .container-heading {
        font-size:45px;
    }
    .card {
        flex-direction: column;
    }

}



  